@{
    ViewData["Title"] = "Desenvolvimento Web";
}

<div class="text-center">
    <h1 class="display-4">Projeto Final Desenvolvimento Web</h1>
    <p>Desenvolvimento do Projeto Final de Desenvolvimento Web</p>
</div>
